@import "bootstrap/scss/bootstrap"; 

body {
  font-family: Arial, sans-serif;
  background-color: #202225;
  color: #DCDDDE;
  margin:40px;
}

.website-title {
  text-align: center;
  font-size: 72px;
  transition: opacity 1s ease-in-out;
}

.album-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.album-card {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  overflow: hidden;
}

.album-image {
  width: 100%;
  height: 300px;
  padding-bottom: 15px;
  transform: scale(1);
  transition-duration: 0.5s;
  box-shadow: 0 3em 4em rgba(0,0,0,.15);
}

.album-title {
  color: #DCDDDE;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(240px);
  height: 25px;
  text-decoration: none;
}

.album-title:hover {
  text-decoration: underline;
}

.album-artist {
  color: rgb(159, 159, 159);
  font-size: 16px;
}

.album-rating {
  color: #DCDDDE;
  font-size: 20px;
  font-weight: bold;
}

.progress-container-app{
  display: flex;
  justify-content: left;
  width: 100px;

}

.progress-bar-app{
   height: 15px;
}

.button-row{
  display: flex !important;
  align-items: center;
  justify-content: center !important;
  margin-bottom: 30px;
}

.ribbon{
  width: 8em;
  height: 8em;
  position: absolute;
  
  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  overflow: hidden;
}

.ribbon:after{
  z-index: 2;
  content: attr(data-rating);
  background-color: #E64747;
  position: absolute;
  width: 150%;
  height: 2.5em;
  transform: rotate(-45deg) translateY(-1.9em);
  border-radius: 1em;

  display: flex;
  align-items: center;
  justify-content: center;

  color:#202225;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.2em;
  box-shadow: 0 .3em 1em rgba(0,0,0,.5);
}

.ribbon[data-rating^="4"]::after,
.ribbon[data-rating^="5"]::after,
.ribbon[data-rating^="6"]::after {
  background-color: #E6E22D;
}

.ribbon[data-rating^="7"]::after,
.ribbon[data-rating^="8"]::after,
.ribbon[data-rating^="9"]::after,
.ribbon[data-rating^="10"]::after {
  background-color: #8fb935;
}

.album-and-ribbon {
  position: relative;
  overflow: hidden;
}

.album-and-ribbon:hover::before {
  content: attr(album-info);
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, transparent, rgba(0, 0, 0, 1));
  z-index: 1;
  transition: opacity 2s ease-in-out;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white; 
  text-align: center;
  white-space: pre-line;
}

.album-and-ribbon:hover {
  transform: scale(0.95);
  transition-duration: 0.5s; 
}

.album-and-ribbon:hover::before {
  opacity: 1;
  font-size: 24px; /* Adjust the font size of the title on hover */
}

.album-and-ribbon:hover::before p {
  /* Customize styles for the artist text on hover */
  font-size: 16px;
  margin: 0;
}
