body {
  font-family: Arial, sans-serif;
  background-color: #202225;
  color: #DCDDDE;
}

h1 {
  text-align: center;
  font-size: 72px;
}

.album-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.album-card {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.album-image {
  transform: scale(1);
  transition-duration: 0.5s;
}

.album-image:hover {
  transform: scale(0.95);
  transition-duration: 0.5s;
}



.album-title {
  font-size: 16px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}