@import "bootstrap/scss/bootstrap"; 

body {
  font-family: Arial, sans-serif;
  background-color: #202225;
  color: #DCDDDE;
  margin:40px;
}

.website-title {
  text-align: center;
  font-size: 72px;
  transition: opacity 1s ease-in-out;
}

.album-grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

.album-card {
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  overflow: hidden;
}

.album-image {
  width: 100%;
  height: 300px;
  padding-bottom: 15px;
  transform: scale(1);
  transition-duration: 0.5s;
}

.album-image:hover {
  transform: scale(0.95);
  transition-duration: 0.5s;

}

.album-title {
  color: #DCDDDE;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(240px);
  height: 25px;
  text-decoration: none;
}

.album-title:hover {
  text-decoration: underline;
}

.album-artist {
  color: rgb(159, 159, 159);
  font-size: 16px;
}

.album-rating {
  color: #DCDDDE;
  font-size: 20px;
  font-weight: bold;
}

.progress-container-app{
  display: flex;
  justify-content: left;
  width: 100px;

}

.progress-bar-app{
   height: 15px;
}

#button-row{
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 30px;
  width: 50%;
}
