@import "bootstrap/scss/bootstrap"; 

body {
  font-family: Arial, sans-serif;
  background-color: #202225;
  color: #DCDDDE;
  margin:40px;
}

.link{
    color: #DCDDDE;
    font-size: large;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.link:hover{
    text-decoration: underline;
}

.header{
    display:flex;
    justify-content: center;
    margin:100px;
    margin-top: 50px;
    

}

.review-image img {
    max-width: 100%;
    height: 400px;
    margin-right: 50px;
    margin-left: -50px;
}
  
.review-details {
    margin-left: 20px;
    text-align: center;
    align-content: center;
}

.title{
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 50px;
    max-width: 450px; 
    word-wrap: break-word;
    text-align: left;
}

.artist{
    padding-bottom: 10px;
    font-size: 20px;
    text-align: left;
}

.year{
    padding-bottom: 40px;
    font-size: 16px;
    text-align: left;
}

.rating{
    padding-bottom: 5px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

.progress-container{
   align-items: center;
   display: flex;
   justify-content: center;
}

.progress {
    width: 200px;
}

.progress-bar{
    height: 40px;
}
  
.review-section {
    margin-top: 20px;
    margin: 60px;
    font-size: 28px;
    text-align: center;
}
