@import "bootstrap/scss/bootstrap"; 

body {
  font-family: Arial, sans-serif;
  background-color: #202225;
  color: #DCDDDE;
  margin:40px;
}

h1 {
  text-align: center;
  font-size: 72px;
}

.header{
    display:flex;
    justify-content: center;
    margin:100px;

}

.review-image img {
    max-width: 100%;
    margin-right: 50px;
    margin-left: -50px;
}
  
.review-details {
    margin-left: 20px;
    text-align: center;
}

.title{
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 42px;
    max-width: 400px; 
    word-wrap: break-word;
    text-align: left;
}

.artist{
    padding-bottom: 40px;
    font-size: 20px;
    text-align: left;
}

.rating{
    padding-bottom: 5px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

progress{
    width: 100px;
    height: 30px;
}
  
.review-section {
    margin-top: 20px;
}